<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span>📊</span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="create-ticket">
                <span>➕</span> Nuevo Ticket
            </NavLink>
        </div>
    </nav>
</div>
